<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "stylesheets/account.css" %}">
</head>
<body>
<div class="container">
    <nav>
        <div class="navbar">
            <div class="logo">
                <h1>{{ restaurant_name }}</h1>
            </div>
            <ul>
                <li><a href="{% url 'dashboard' %}">
                    <i class="fas fa-user"></i>
                    <span class="nav-item">Dashboard</span>
                </a>
                </li>
                <li><a href="{% url 'displayAllShifts' %}">
                    <i class="fas fa-chart-bar"></i>
                    <span class="nav-item">Schedule</span>
                </a>
                </li>
                <li><a href="{% url 'account' %}">
                    <i class="fas fa-tasks"></i>
                    <span class="nav-item">Account</span>
                </a>
                </li>
                <li><a href="#">
                    <i class="fab fa-dochub"></i>
                    <span class="nav-item">Notifications</span>
                </a>
                </li>
                <li><a href={% url 'viewAllUsers' %}>
                    <i class="fab fa-dochub"></i>
                    <span class="nav-item">View all users</span>
                </a>
                </li>
                <li><a href="{% url 'login' %}">Logout</a>
                    <i class="fas fa-sign-out-alt"></i>
                </li>
            </ul>
        </div>
    </nav>

    <section class="main">
        <div class="main-top">
            <p>ShiftMaster</p>
        </div>
        <div class="main-body">
            <div class="content">
                <h3>Account Information</h3>
                <p><strong>First Name:</strong> <label for="address"
                                                       class="col-sm-3 col-form-label">{{ user.first_name }}</label>
                </p>
                <p><strong>Last Name:</strong> {{ user.last_name }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Phone Number:</strong> {{ user.phone_number }}</p>
                <p><strong>Address:</strong> {{ user.address }}</p>
                <p><strong>City:</strong> {{ user.city }}</p>
                <p><strong>State:</strong> {{ user.state }}</p>
                <p><strong>Zipcode:</strong> {{ user.zipcode }}</p>
                <button onclick="location.href = 'editPersonalInfo/';" id="editInfo" class="btn btn-primary">Edit
                </button>
            </div>
            <div class="content">
                <div class="Availability">
                    <h3>Availability</h3>
                    <p>Availability for next Schedule: </p>
                    <p>
                    <pre>    Sunday (##/##): </pre>
                    </p>
                    <p>
                    <pre>    Monday (##/##): </pre>
                    </p>
                    <p>
                    <pre>    Tuesday (##/##): </pre>
                    </p>
                    <p>
                    <pre>    Wednesday (##/##): </pre>
                    </p>
                    <p>
                    <pre>    Thursday (##/##): </pre>
                    </p>
                    <p>
                    <pre>    Friday (##/##): </pre>
                    </p>
                    <p>
                    <pre>    Saturday (##/##): </pre>
                    </p>
                    <button onclick="location.href = 'updateAvailability/';" id="updateAvailability"
                            class="btn btn-primary">Edit
                    </button>
                </div>
            </div>
            <div class="content">
                <div class="AccountCreation">
                    <h3>Account Creation</h3>
                    <p>
                    <pre>Create an account for new employees.</pre>
                    </p>
                    <button onclick="location.href = 'accountCreation/';" id="createAccount" class="btn btn-primary">
                        Create Account
                    </button>
                </div>
            </div>
            <div class="content">
                <div class="TimeOffRequest">
                    <h3>Time Off:</h3>
                    <button onclick="location.href = 'timeOff';" id="requestTimeOff" class="btn btn-primary">Request
                    </button>
                    <h4>Approved Time Off:</h4>
                    <p>No Approved Time Off</p>
                </div>
            </div>
            <div class="content">
                <div class="ServerScore">
                    <h3>Server Score</h3>
                    <p>Most Recent Score:</p>
                    <p>Overall Score:</p>
                    <button onclick="location.href = 'serverScore/';" id="serverScore" class="btn btn-primary" >Add Score</button>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>