<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Shift</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheets/updateAvailability.css' %}">
    <style>
        .checkbox-group {
            display: inline-block;
            margin-right: 20px;
        }

        .day-container {
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
<div class="container">
    <nav>
        <div class="navbar">
            <div class="logo">
                <h1>{{ restaurant_name }}</h1>
            </div>
            <ul>
                {% if current_user_role == "EMPLOYEE" %}
                    <li><a href="{% url 'dashboard' %}">
                        <span class="nav-item">Dashboard</span>
                    </a></li>
                    <li><a href="{% url 'displayAllShifts' %}" class="active">
                        <span class="nav-item">Schedule</span>
                    </a></li>
                {% else %}
                    <li><a href="{% url 'displayAllShifts' %}">
                        <span class="nav-item">Dashboard</span>
                    </a></li>
                {% endif %}
                <li><a href="{% url 'account' %}">
                    <span class="nav-item">Account</span>
                </a></li>
                <li><a href={% url 'viewAllUsers' %}>
                    <i class="fab fa-dochub"></i>
                    <span class="nav-item">View All Users</span>
                </a></li>
                {% if current_user_role == "MANAGER" %}
                    <li><a href="{% url 'managerApproval' %}">
                        <span class="nav-item">Manager Approval</span>
                    </a></li>
                {% endif %}
                <li><a href="{% url 'login' %}">
                    <span class="nav-item">Logout</span>
                </a></li>
            </ul>
        </div>
    </nav>
    <section class="main">
        <div class="main-top">
            <p>ShiftMaster</p>
        </div>
        <div class="main-body">
            <form method="post">
                {% csrf_token %}
                <div class="content">
                    {{ status }}
                    <h3>Add New Shift</h3>
                    {% for day in days %}
                        <div class="day-container">
                            <label>{{ day }}:</label><br>
                            {% for shift in shift_types %}
                                <div class="checkbox-group">
                                    <input type="checkbox" id="{{ day|slice:":2" }}{{ shift }}" name="{{ day|slice:":2" }}Availability" value="{{ shift }}">
                                    <label for="{{ day|slice:":2" }}{{ shift }}">{{ shift }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <div class="day-container">
                            <label>Assign Employees:</label><br>
                            {% for employee in employees %}
                                <div class="checkbox-group">
                                    <input type="checkbox" id="employee{{ employee.pk }}" name="employees" value="{{ employee.pk }}">
                                    <label for="employee{{ employee.pk }}">{{ employee.user.get_full_name }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <button type="submit" class="btn">Add Shift</button>
                    <button type="button" class="btn" onclick="window.location.href='{% url 'auto_schedule' %}'">Generate Auto Schedule</button>
                </div>
            </form>
        </div>
    </section>
</div>
</body>
</html>
