<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Shift</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheets/updateAvailability.css' %}">
    <style>
        .checkbox-group {
            display: inline-block;
            margin-right: 20px;
        }

        .day-container {
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
<div class="container">
    <nav>
        <div class="navbar">
            <div class="logo">
                <h1>{{ restaurant_name }}</h1>
            </div>
            <ul>
                {% if current_user_role == "EMPLOYEE" %}
                    <li><a href="{% url 'dashboard' %}">
                        <span class="nav-item">Dashboard</span>
                    </a></li>
                    <li><a href="{% url 'displayAllShifts' %}" class="active">
                        <span class="nav-item">Schedule</span>
                    </a></li>
                {% else %}
                    <li><a href="{% url 'displayAllShifts' %}">
                        <span class="nav-item">Dashboard</span>
                    </a></li>
                {% endif %}
                <li><a href="{% url 'account' %}">
                    <span class="nav-item">Account</span>
                </a></li>
                <li><a href={% url 'viewAllUsers' %}>
                    <i class="fab fa-dochub"></i>
                    <span class="nav-item">View All Users</span>
                </a></li>
                {% if current_user_role == "MANAGER" %}
                    <li><a href="{% url 'managerApproval' %}">
                        <span class="nav-item">Manager Approval</span>
                    </a></li>
                {% endif %}
                <li><a href="{% url 'login' %}">
                    <span class="nav-item">Logout</span>
                </a></li>
            </ul>
        </div>
    </nav>
    <section class="main">
        <div class="main-top">
            <p>ShiftMaster</p>
        </div>
        <div class="main-body">
            <form method="post">
                {% csrf_token %}
                <div class="content">
                    {{ status }}
                    <h3>Add New Shift</h3>
                    <div class="day-container">
                        <label>Monday:</label><br>
                        <div class="checkbox-group">
                            <input type="checkbox" id="MoOpen" name="MoAvailability" value="Open">
                            <label for="MoOpen">Open</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="MoMid" name="MoAvailability" value="Mid">
                            <label for="MoMid">Mid</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="MoClose" name="MoAvailability" value="Close">
                            <label for="MoClose">Close</label>
                        </div>
                    </div>
                    <div class="day-container">
                        <label>Tuesday:</label><br>
                        <div class="checkbox-group">
                            <input type="checkbox" id="TuOpen" name="TuAvailability" value="Open">
                            <label for="TuOpen">Open</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="TuMid" name="TuAvailability" value="Mid">
                            <label for="TuMid">Mid</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="TuClose" name="TuAvailability" value="Close">
                            <label for="TuClose">Close</label>
                        </div>
                    </div>
                    <div class="day-container">
                        <label>Wednesday:</label><br>
                        <div class="checkbox-group">
                            <input type="checkbox" id="WeOpen" name="WeAvailability" value="Open">
                            <label for="WeOpen">Open</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="WeMid" name="WeAvailability" value="Mid">
                            <label for="WeMid">Mid</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="WeClose" name="WeAvailability" value="Close">
                            <label for="WeClose">Close</label>
                        </div>
                    </div>
                    <div class="day-container">
                        <label>Thursday:</label><br>
                        <div class="checkbox-group">
                            <input type="checkbox" id="ThOpen" name="ThAvailability" value="Open">
                            <label for="ThOpen">Open</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="ThMid" name="ThAvailability" value="Mid">
                            <label for="ThMid">Mid</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="ThClose" name="ThAvailability" value="Close">
                            <label for="ThClose">Close</label>
                        </div>
                    </div>
                    <div class="day-container">
                        <label>Friday:</label><br>
                        <div class="checkbox-group">
                            <input type="checkbox" id="FrOpen" name="FrAvailability" value="Open">
                            <label for="FrOpen">Open</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="FrMid" name="FrAvailability" value="Mid">
                            <label for="FrMid">Mid</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="FrClose" name="FrAvailability" value="Close">
                            <label for="FrClose">Close</label>
                        </div>
                    </div>
                    <div class="day-container">
                        <label>Saturday:</label><br>
                        <div class="checkbox-group">
                            <input type="checkbox" id="SaOpen" name="SaAvailability" value="Open">
                            <label for="SaOpen">Open</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="SaMid" name="SaAvailability" value="Mid">
                            <label for="SaMid">Mid</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="SaClose" name="SaAvailability" value="Close">
                            <label for="SaClose">Close</label>
                        </div>
                    </div>
                    <div class="day-container">
                        <label>Sunday:</label><br>
                        <div class="checkbox-group">
                            <input type="checkbox" id="SuOpen" name="SuAvailability" value="Open">
                            <label for="SuOpen">Open</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="SuMid" name="SuAvailability" value="Mid">
                            <label for="SuMid">Mid</label>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="SuClose" name="SuAvailability" value="Close">
                            <label for="SuClose">Close</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="day-container">
                            <label>Assign Employees:</label><br>
                            {% for employee in employees %}
                                <div class="checkbox-group">
                                    <input type="checkbox" id="employee{{ employee.pk }}" name="employees"
                                           value="{{ employee.pk }}">
                                    <label for="employee{{ employee.pk }}">{{ employee.user.get_full_name }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <button type="submit" class="btn">Add Shift</button>
                </div>
            </form>
        </div>
    </section>
</div>
</body>
</html>