<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/allUser.css' %}">
</head>

<body>
<div class="container">
    <nav>
        <div class="navbar">
            <div class="logo">
                <h1>{{ restaurant_name }}</h1>
            </div>
            <ul>
                {% if current_user_role == "EMPLOYEE" %}
                    <li><a href="{% url 'dashboard' %}">
                        <span class="nav-item">Dashboard</span>
                    </a></li>
                    <li><a href="{% url 'displayAllShifts' %}" class="active">
                        <span class="nav-item">Schedule</span>
                    </a></li>
                {% else %}
                    <li><a href="{% url 'displayAllShifts' %}">
                        <span class="nav-item">Dashboard</span>
                    </a></li>
                {% endif %}
                <li><a href="{% url 'account' %}">
                    <span class="nav-item">Account</span>
                </a></li>
                <li><a href={% url 'viewAllUsers' %}>
                    <i class="fab fa-dochub"></i>
                    <span class="nav-item">View All Users</span>
                </a></li>
                {% if current_user_role == "MANAGER" %}
                    <li><a href="{% url 'managerApproval' %}">
                        <span class="nav-item">Manager Approval</span>
                    </a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">
                    <span class="nav-item">Logout</span>
                </a></li>
            </ul>
        </div>
    </nav>

      <section class="main">
        <div class="main-top">
            <p>ShiftMaster</p>
        </div>
        <div class="main-body">
            <div class="content">
    <h1 class="text-black">All Users</h1>
</div>
        {% if  current_user_role == 'MANAGER' %}
<div class="container mt-5 custom-container">
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="card-body">
                    <table class="table">
                        <div class="content">
                <div class="content">
    <div class="ServerScore">
        <h3>Server Score</h3>
        <p>Most Recent Score: {{ most_recent_score }}</p>
        <p>Overall Score: {{ average_score }}</p>
            <button onclick="location.href = 'addServerScore/';" class="btn btn-primary">Add Score</button>

    </div>
</div>
                        </div>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
        {% endif %}
<div class="container mt-5 custom-container">
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                {% if  current_user_role == 'MANAGER' %}
                                    <th>Score</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in userList %}
    <tr>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        {% if  current_user_role == 'MANAGER' %}
        <td>
            {% if user.employee %}
                {{ user.employee.average_score }}
            {% else %}
                Manager
            {% endif %}
        </td>
        {% endif %}
    </tr>
{% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
    </section>
</div>
</body>
</html>