<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/dashboard.css' %}">
</head>

<body>
<div class="container">
    <nav>
        <div class="navbar">
            <div class="logo">
                <h1>ShiftMaster</h1>
            </div>
            <ul>
                <li><a href="{% url 'dashboard' %}">
                    <span class="nav-item">Dashboard</span>
                </a></li>
                <li><a href="{% url 'displayAllShifts' %}" class="active">
                    <span class="nav-item">Schedule</span>
                </a></li>
                <li><a href="{% url 'account' %}">
                    <span class="nav-item">Account</span>
                </a></li>
                <li><a href="#">
                    <span class="nav-item">Notifications</span>
                </a></li>
                <li><a href="{% url 'viewAllUsers' %}">
                    <span class="nav-item">View All Users</span>
                </a></li>
                <li><a href="{% url 'login' %}">
                    <span class="nav-item">Logout</span>
                </a></li>
            </ul>
        </div>
    </nav>
    <section class="main">
        <div class="main-top">
            <p>ShiftMaster</p>
        </div>
        <div class="main-body">
            <h1>Dashboard</h1>

            <div class="job_card">
                <div class="job_details">
                    <div class="text">
                        <h2>Announcements</h2>
                        <span>No new announcements</span>
                    </div>
                </div>
            </div>
        

        <div class="week-content">
            <div class="day-content">
                <div class="day-header">Monday</div>
                {% for shift in monday_shifts %}
                    <div class="shift">
                        <div><strong>{{ shift.shift_type }}</strong></div>
                        {% for employee in shift.employees.all %}
                            {{ employee.user.get_full_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="day-content">
                <div class="day-header">Tuesday</div>
                {% for shift in tuesday_shifts %}
                    <div class="shift">
                        <div><strong>{{ shift.shift_type }}</strong></div>
                        {% for employee in shift.employees.all %}
                            {{ employee.user.get_full_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="day-content">
                <div class="day-header">Wednesday</div>
                {% for shift in wednesday_shifts %}
                    <div class="shift">
                        <div><strong>{{ shift.shift_type }}</strong></div>
                        {% for employee in shift.employees.all %}
                            {{ employee.user.get_full_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="day-content">
                <div class="day-header">Thursday</div>
                {% for shift in thursday_shifts %}
                    <div class="shift">
                        <div><strong>{{ shift.shift_type }}</strong></div>
                        {% for employee in shift.employees.all %}
                            {{ employee.user.get_full_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="day-content">
                <div class="day-header">Friday</div>
                {% for shift in friday_shifts %}
                    <div class="shift">
                        <div><strong>{{ shift.shift_type }}</strong></div>
                        {% for employee in shift.employees.all %}
                            {{ employee.user.get_full_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="day-content">
                <div class="day-header">Saturday</div>
                {% for shift in saturday_shifts %}
                    <div class="shift">
                        <div><strong>{{ shift.shift_type }}</strong></div>
                        {% for employee in shift.employees.all %}
                            {{ employee.user.get_full_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="day-content">
                <div class="day-header">Sunday</div>
                {% for shift in sunday_shifts %}
                    <div class="shift">
                        <div><strong>{{ shift.shift_type }}</strong></div>
                        {% for employee in shift.employees.all %}
                            {{ employee.user.get_full_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>
    </section>
</div>
</body>
</html>