<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/account.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/dashboard.css' %}">
</head>

<body>
<div class="container">
    <nav>
        <div class="navbar">
            <div class="logo">
                <h1>{{ restaurant_name }}</h1>
            </div>
            <ul>
                {% if current_user_role == "EMPLOYEE" %}
                    <li><a href="{% url 'dashboard' %}">
                        <span class="nav-item">Dashboard</span>
                    </a></li>
                    <li><a href="{% url 'displayAllShifts' %}" class="active">
                        <span class="nav-item">Schedule</span>
                    </a></li>
                {% else %}
                    <li><a href="{% url 'displayAllShifts' %}">
                        <span class="nav-item">Dashboard</span>
                    </a></li>
                {% endif %}
                <li><a href="{% url 'account' %}">
                    <span class="nav-item">Account</span>
                </a></li>
                <li><a href={% url 'viewAllUsers' %}>
                    <i class="fab fa-dochub"></i>
                    <span class="nav-item">View All Users</span>
                </a></li>
                {% if current_user_role == "MANAGER" %}
                    <li><a href="{% url 'managerApproval' %}">
                        <span class="nav-item">Manager Approval</span>
                    </a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">
                    <span class="nav-item">Logout</span>
                </a></li>
            </ul>
        </div>
    </nav>
    <section class="main">
        <div class="main-top">
            <p>ShiftMaster</p>
        </div>
        <div class="main-body">
            <form method="get">
                {% csrf_token %}
                <h1>Schedule</h1>

                <div class="job_card">
                    <div class="job_details">
                        <div class="text">
                            <h2>Announcements</h2>
                            <span>No new announcements</span>
                        </div>
                    </div>
                </div>

                <div class="week-content">
                    {% for day_shifts in shifts_by_day %}
                        <div class="day-content">
                            <div class="day-header">{{ day_shifts.day }}</div>
                            {% for shift_type in shift_types %}
                                <div class="shift">
                                    <div><strong>{{ shift_type }}</strong></div>
                                    {% for shift in day_shifts.shifts %}
                                        {% if shift.shift_type == shift_type %}
                                            {% for employee in shift.employees.all %}
                                                {{ employee.user.get_full_name }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </form>
        </div>
        {% if user_role == 'MANAGER' %}
            <div class="content" style="text-align: center">
                <br>
                <button onclick="location.href = 'addShifts/';" id="addShifts" class="btn btn-primary">Add Shift
                </button>
            </div>
        {% endif %}
    </section>
</div>
</body>
</html>

