<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "stylesheets/styles.css" %}">
</head>
<body>
<div class="container">
    <div class="week-header">
        <div class="day-header">Monday</div>
        <div class="day-header">Tuesday</div>
        <div class="day-header">Wednesday</div>
        <div class="day-header">Thursday</div>
        <div class="day-header">Friday</div>
        <div class="day-header">Saturday</div>
        <div class="day-header">Sunday</div>
    </div>
    <div class="week-content">
        <div class="day-content">
            {% for shift in monday_shifts %}
                <div class="shift">
                    <div><strong>{{ shift.startTime|date:"H:i" }} - {{ shift.endTime|date:"H:i" }}</strong></div>
                    {% for employee in shift.employees.all %}
                        {{ employee.user.get_full_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="day-content">
            {% for shift in tuesday_shifts %}
                <div class="shift">
                    <div><strong>{{ shift.startTime|date:"H:i" }} - {{ shift.endTime|date:"H:i" }}</strong></div>
                    {% for employee in shift.employees.all %}
                        {{ employee.user.get_full_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="day-content">
            {% for shift in wednesday_shifts %}
                <div class="shift">
                    <div><strong>{{ shift.startTime|date:"H:i" }} - {{ shift.endTime|date:"H:i" }}</strong></div>
                    {% for employee in shift.employees.all %}
                        {{ employee.user.get_full_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="day-content">
            {% for shift in thursday_shifts %}
                <div class="shift">
                    <div><strong>{{ shift.startTime|date:"H:i" }} - {{ shift.endTime|date:"H:i" }}</strong></div>
                    {% for employee in shift.employees.all %}
                        {{ employee.user.get_full_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="day-content">
            {% for shift in friday_shifts %}
                <div class="shift">
                    <div><strong>{{ shift.startTime|date:"H:i" }} - {{ shift.endTime|date:"H:i" }}</strong></div>
                    {% for employee in shift.employees.all %}
                        {{ employee.user.get_full_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="day-content">
            {% for shift in saturday_shifts %}
                <div class="shift">
                    <div><strong>{{ shift.startTime|date:"H:i" }} - {{ shift.endTime|date:"H:i" }}</strong></div>
                    {% for employee in shift.employees.all %}
                        {{ employee.user.get_full_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="day-content">
            {% for shift in sunday_shifts %}
                <div class="shift">
                    <div><strong>{{ shift.startTime|date:"H:i" }} - {{ shift.endTime|date:"H:i" }}</strong></div>
                    {% for employee in shift.employees.all %}
                        {{ employee.user.get_full_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>
