<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "stylesheets/styles.css" %}">
</head>
<style>
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.week-header, .week-content {
    display: flex;
    justify-content: space-between;
}

.day-header, .day-content {
    flex: 1;
    padding: 10px;
    border-right: 1px solid #ddd;
}

.day-header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.day-content:last-child, .day-header:last-child {
    border-right: none;
}

.shift {
    background-color: #e3e4e6;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.shift:hover {
    background-color: #d1d2d4;
}
</style>
<body>
<div class="navbar">
    <a href="{% url 'dashboard' %}">Restaurant</a>
    <a href="{% url 'dashboard' %}">Schedule</a>
    <a href="{% url 'dashboard' %}">Notifications</a>
    <a href="{% url 'account' %}">Account</a>
    <a href="{% url 'serverscore' %}">Server Score</a>
    <a href="{% url 'login' %}">Logout</a>
</div>
<div class="container">
    <div class="week-header">
        <div class="day-header">Monday</div>
        <div class="day-header">Tuesday</div>
        <div class="day-header">Wednesday</div>
        <div class="day-header">Thursday</div>
        <div class="day-header">Friday</div>
        <div class="day-header">Saturday</div>
        <div class="day-header">Sunday</div>
    </div>
    <div class="week-content">
        <div class="day-content">
            {% for shift in monday_shifts %}
                <div class="shift">
                    <div><strong>{{ shift.startTime|date:"H:i" }} - {{ shift.endTime|date:"H:i" }}</strong></div>
                    {% for employee in shift.employees.all %}
                        {{ employee.user.get_full_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="day-content">
            {% for shift in tuesday_shifts %}
                <div class="shift">
                    <div><strong>{{ shift.startTime|date:"H:i" }} - {{ shift.endTime|date:"H:i" }}</strong></div>
                    {% for employee in shift.employees.all %}
                        {{ employee.user.get_full_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="day-content">
            {% for shift in wednesday_shifts %}
                <div class="shift">
                    <div><strong>{{ shift.startTime|date:"H:i" }} - {{ shift.endTime|date:"H:i" }}</strong></div>
                    {% for employee in shift.employees.all %}
                        {{ employee.user.get_full_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="day-content">
            {% for shift in thursday_shifts %}
                <div class="shift">
                    <div><strong>{{ shift.startTime|date:"H:i" }} - {{ shift.endTime|date:"H:i" }}</strong></div>
                    {% for employee in shift.employees.all %}
                        {{ employee.user.get_full_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="day-content">
            {% for shift in friday_shifts %}
                <div class="shift">
                    <div><strong>{{ shift.startTime|date:"H:i" }} - {{ shift.endTime|date:"H:i" }}</strong></div>
                    {% for employee in shift.employees.all %}
                        {{ employee.user.get_full_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="day-content">
            {% for shift in saturday_shifts %}
                <div class="shift">
                    <div><strong>{{ shift.startTime|date:"H:i" }} - {{ shift.endTime|date:"H:i" }}</strong></div>
                    {% for employee in shift.employees.all %}
                        {{ employee.user.get_full_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="day-content">
            {% for shift in sunday_shifts %}
                <div class="shift">
                    <div><strong>{{ shift.startTime|date:"H:i" }} - {{ shift.endTime|date:"H:i" }}</strong></div>
                    {% for employee in shift.employees.all %}
                        {{ employee.user.get_full_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>
