<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request Time Off</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "stylesheets/timeOff.css" %}">
</head>
<body>
<div class="container">
    <nav>
        <div class="navbar">
            <div class="logo">
                <h1>{{ restaurant_name }}</h1>
            </div>
            <ul>
                {% if current_user_role == "EMPLOYEE" %}
                    <li><a href="{% url 'dashboard' %}">
                        <span class="nav-item">Dashboard</span>
                    </a></li>
                    <li><a href="{% url 'displayAllShifts' %}" class="active">
                        <span class="nav-item">Schedule</span>
                    </a></li>
                {% else %}
                    <li><a href="{% url 'displayAllShifts' %}">
                        <span class="nav-item">Dashboard</span>
                    </a></li>
                {% endif %}
                <li><a href="{% url 'account' %}">
                    <span class="nav-item">Account</span>
                </a></li>
                <li><a href={% url 'viewAllUsers' %}>
                    <i class="fab fa-dochub"></i>
                    <span class="nav-item">View All Users</span>
                </a></li>
                {% if current_user_role == "MANAGER" %}
                    <li><a href="{% url 'managerApproval' %}">
                        <span class="nav-item">Manager Approval</span>
                    </a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">
                    <span class="nav-item">Logout</span>
                </a></li>
            </ul>
        </div>
    </nav>
    <section class="main">
        <div class="main-top">
            <p>ShiftMaster</p>
        </div>
        <div class="main-body">
            <form method="post">
                {% csrf_token %}
                <h3>Request Time Off</h3>
                <div class="form-group"> <!--Start Date-->
                    <label for="start_date" class="col-sm-3 col-form-label"><strong>Start Date</strong></label>
                    <input type="date" class="form-control" id="start_date" name="start_date">
                </div>
                <br>
                <div class="form-group"> <!--End Date-->
                    <label for="end_date" class="col-sm-3 col-form-label"><strong>End Date</strong></label>
                    <input type="date" class="form-control" id="end_date" name="end_date">
                </div>
                <br>
                <div class="form-group"> <!--Reasoning-->
                    <label for="time_off_reason" class="col-sm-3 col-form-label"><strong>Reasoning</strong></label>
                    <input type="text" class="form-control" id="time_off_reason" name="time_off_reason" required
                           placeholder="Reason for taking off of work.">
                </div>
                <!--Buttons-->
                <input type="submit" class="btn btn-primary" value="Submit">
                {% if account.get_primary_key == current_user.get_primary_key %}
                    <a class="btn btn-primary" href="{% url 'account' %}">Cancel</a>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'account' %}">Submit</a>
                {% endif %}
            </form>
        </div>
    </section>
</div>
</body>
</html>