<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Availability</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheets/styles.css' %}">
</head>
<body>
<div class="navbar">
    <a href="{% url 'dashboard' %}">Restaurant</a>
    <a href="{% url 'dashboard' %}">Schedule</a>
    <a href="{% url 'dashboard' %}">Notifications</a>
    <a href="{% url 'account' %}">Account</a>
    <a href="{% url 'login' %}">Logout</a>
</div>

<div class="content">
    <h2>Update Your Availability</h2>
    <form method="post">
    {% csrf_token %}
    {% for day in days %}
        <div class="form-group">
            <label>{{ day }}:</label><br>
            <input type="checkbox" id="{{ day }}Open" name="{{ day }}Availability" value="Open">
            <label for="{{ day }}Open">Open</label><br>

            <input type="checkbox" id="{{ day }}Mid" name="{{ day }}Availability" value="Mid">
            <label for="{{ day }}Mid">Mid</label><br>

            <input type="checkbox" id="{{ day }}Close" name="{{ day }}Availability" value="Close">
            <label for="{{ day }}Close">Close</label><br>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Update Availability</button>
</form>
</div>
</body>
</html>
