<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Availability</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/updateAvailability.css' %}">
    <style>
        .checkbox-group {
            display: inline-block;
            margin-right: 20px;
        }
        .day-container {
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
<div class="container">
<nav>
        <div class="navbar">
            <div class="logo">
                <h1>{{ restaurant_name }}</h1>
            </div>
            <ul>
                {% if current_user_role == "EMPLOYEE" %}
                    <li><a href="{% url 'dashboard' %}">
                        <span class="nav-item">Dashboard</span>
                    </a></li>
                    <li><a href="{% url 'displayAllShifts' %}" class="active">
                        <span class="nav-item">Schedule</span>
                    </a></li>
                {% else %}
                    <li><a href="{% url 'displayAllShifts' %}">
                        <span class="nav-item">Dashboard</span>
                    </a></li>
                {% endif %}
                <li><a href="{% url 'account' %}">
                    <span class="nav-item">Account</span>
                </a></li>
                <li><a href={% url 'viewAllUsers' %}>
                    <i class="fab fa-dochub"></i>
                    <span class="nav-item">View All Users</span>
                </a></li>
                {% if current_user_role == "MANAGER" %}
                    <li><a href="{% url 'managerApproval' %}">
                        <span class="nav-item">Manager Approval</span>
                    </a></li>
                {% endif %}
                <li><a href="{% url 'login' %}">
                    <span class="nav-item">Logout</span>
                </a></li>
            </ul>
        </div>
    </nav>
    <section class="main">
        <div class="main-top">
            <p>ShiftMaster</p>
        </div>
        <div class="main-body">
            <h1>Update Your Availability</h1>
            <div class="content">
                <form method="post">
                    {% csrf_token %}
                    {% for day, shifts in days.items %}
                        <div class="day-container">
                            <label>{{ day }}:</label><br>
                            {% for shift in shifts %}
                                <div class="checkbox-group">
                                    <input type="checkbox" id="id_{{ day }}{{ shift }}" name="{{ day }}{{ shift }}"
                                        {% if current_availabilities.dayshift %}
                                            checked
                                        {% endif %}
                                    >
                                    <label for="id_{{ day }}{{ shift }}">{{ shift|capfirst }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <input type="submit" class="btn btn-primary" value="Submit">
                    {% if account.get_primary_key == current_user.get_primary_key %}
                        <a class="btn btn-primary" href="{% url 'account' %}">Cancel</a>
                    {% else %}
                        <a class="btn btn-primary" href="{% url 'account' %}">Cancel</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </section>
</div>
</body>
</html>