!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Availability</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/updateAvailability.css' %}">
    <style>
        .checkbox-group {
            display: inline-block;
            margin-right: 20px;
        }
        .day-container {
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
<div class="container">
<nav>
  <div class="navbar">
    <div class="logo">
      <h1>Restaurant Name</h1>
    </div>
    <ul>
      <li>  <a href="{% url 'dashboard' %}">
        <i class="fas fa-user"></i>
        <span class="nav-item">Dashboard</span>
      </a>
      </li>
      <li><a href="#">
        <i class="fas fa-chart-bar"></i>
        <span class="nav-item">Schedule</span>
      </a>
      </li>
      <li><a href="{% url 'account' %}">
        <i class="fas fa-tasks"></i>
        <span class="nav-item">Account</span>
      </a>
      </li>
      <li><a href="#">
        <i class="fab fa-dochub"></i>
        <span class="nav-item">Notifications</span>
      </a>
      </li>
        <li><a href="allUsers">
        <i class="fab fa-dochub"></i>
        <span class="nav-item">View all users</span>
      </a>
      </li>
      <li><a href="{% url 'login' %}">Logout</a>
        <i class="fas fa-sign-out-alt"></i>
      </a>
      </li>
    </ul>
  </div>
</nav>
    <section class="main">
        <div class="main-top">
            <p>ShiftMaster</p>
        </div>
        <div class="main-body">
            <h1>Update Your Availability</h1>
            <div class="content">
                <form method="post">
                    {% csrf_token %}
                    {% for day, shifts in days.items %}
                        <div class="day-container">
                            <label>{{ day }}:</label><br>
                            {% for shift in shifts %}
                                <div class="checkbox-group">
                                    <input type="checkbox" id="id_{{ day }}{{ shift }}" name="{{ day }}{{ shift }}"
                                        {% if current_availabilities.dayshift %}
                                            checked
                                        {% endif %}
                                    >
                                    <label for="id_{{ day }}{{ shift }}">{{ shift|capfirst }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Update Availability</button>
                    <a class="btn" href="{% url 'dashboard' %}">Cancel</a>
                </form>
            </div>
        </div>
    </section>
</div>
</body>
</html>