h1{
  margin: 20px 10px;
}





/* Style the table */
.table {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  text-align: center;
}

/* Style the thead of the table */
.table thead th {
  border-bottom: 1px solid #dddddd;
  padding: 12px;
  text-align: left;
}

/* Style the tbody of the table */
.table tbody td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

/* Style the "Actions" column */
.table tbody td:last-child {
  width: 10%;
  text-align: center;
}

/* Style the "View Details" button */
.table tbody td form button {
  background-color: #007bff;
  border: none;
  color: #FFFFFF;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Style the "View Details" button on hover */
.table tbody td form button:hover {
  background-color: #0056b3;
}

/* Style the custom container */
.custom-container {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  padding: 20px;
  margin-top: 30px;
  text-align: center;
}